<section class="sale">
    <div class="sale__header">
        <div class="col-localizador">
            Localizador
        </div>

        <div class="col-descripcion">
            Descripción
        </div>

        <div class="col-marca">
            Marca
        </div>

        <div class="col-cantidad">
            Cant.
        </div>

        <div class="col-pvp">
            PVP
        </div>

        <div class="col-importe">
            Importe
        </div>

        <div class="col-descuentos">
            Descuento
        </div>

        <div class="col-stock">
            Stock
        </div>
    </div>

    <div class="sale__lines">
        @for (
        linea of ventaView().lineas;
        track linea.idTemporal
        ) {
        <div class="sale__line"
             [class.sale__line--devolucion]="linea.esDevolucion"
             [class.sale__line--reserva]="linea.esReserva">
            <div class="col-localizador">
                <button class="sale__delete"
                        type="button"
                        matTooltip="Borrar línea"
                        (click)="deleteLinea(linea)">
                    <mat-icon>delete</mat-icon>
                </button>

                <span>
                    {{ linea.localizador }}
                </span>
            </div>

            <div class="col-descripcion">
                @if (linea.esDevolucion) {
                <button class="sale__devolucion-description"
                        type="button"
                        matTooltip="Editar devolución"
                        (click)="openEditDevolucion()">
                    <span>
                        {{ linea.descripcion }}
                    </span>

                    <mat-icon aria-hidden="true">
                        edit
                    </mat-icon>
                </button>
                }
                @else if (linea.esReserva) {
                <span class="sale__reserva-description">
                    <mat-icon matTooltip="Línea procedente de una reserva"
                              aria-hidden="true">
                        bookmark
                    </mat-icon>

                    <span>
                        {{ linea.descripcion }}
                    </span>
                </span>
                }
                @else if (linea.esVarios) {
                <button class="sale__varios-description"
                        type="button"
                        matTooltip="Editar Varios"
                        (click)="openEditVarios(linea)">
                    {{ linea.descripcion }}
                </button>
                }
                @else {
                <span>
                    {{ linea.descripcion }}

                    @if (linea.observaciones !== null) {
                    <mat-icon [matTooltip]="linea.observaciones">
                        info_outline
                    </mat-icon>
                    }
                </span>
                }
            </div>

            <div class="col-marca">
                {{ linea.esDevolucion ? 'Devolución' : linea.marca }}
            </div>

            <div class="col-cantidad">
                @if (isEditing(linea.idTemporal, 'cantidad')) {
                <input #editableInput
                       class="sale__inline-input"
                       type="number"
                       inputmode="numeric"
                       min="1"
                       step="1"
                       aria-label="Cantidad"
                       [attr.data-linea-id-temporal]="linea.idTemporal"
                       data-field="cantidad"
                       [value]="linea.cantidad"
                       (keydown.enter)="commitCantidad(linea, $event, true)"
                       (blur)="commitCantidad(linea, $event, false)">
                }
                @else {
                <button class="sale__editable-value"
                        type="button"
                        [matTooltip]="
    linea.esDevolucion
        ? 'Cantidad de devolución'
        : linea.esReserva
            ? 'Modificar cantidad de la reserva'
            : 'Modificar cantidad'
"
                        [disabled]="linea.esDevolucion"
                        (click)="editLinea(linea.idTemporal, 'cantidad')">
                    {{ linea.cantidad }}
                </button>
                }
            </div>

            <div class="col-pvp">
                <span>
                    {{
                        linea.pvpMicros
                            | microsToEuros
                            | currency:'EUR':'symbol':'1.2-2'
                    }}
                </span>

                <button class="sale__gift"
                        type="button"
                        [class.sale__gift--active]="linea.regalo"
                        [attr.aria-pressed]="linea.regalo"
                        [disabled]="linea.esDevolucion || linea.esReserva"
                        [matTooltip]="linea.regalo ? 'Quitar regalo' : 'Marcar como regalo'"
                        (click)="alternarRegalo(linea)">
                    <mat-icon>loyalty</mat-icon>
                </button>
            </div>

            <div class="col-importe">
                @if (isEditing(linea.idTemporal, 'importe')) {
                <input #editableInput
                       class="sale__inline-input"
                       type="number"
                       inputmode="decimal"
                       min="0"
                       step="0.01"
                       aria-label="Importe"
                       [attr.data-linea-id-temporal]="linea.idTemporal"
                       data-field="importe"
                       [value]="linea.importeFinalMicros | microsToEuros"
                       (keydown.enter)="commitImporte(linea, $event, true)"
                       (blur)="commitImporte(linea, $event, false)">
                }
                @else {
                <div class="sale__editable-cell">
                    <button class="sale__editable-value"
                            type="button"
                            [disabled]="linea.esDevolucion || linea.esReserva || !canModifyAmounts()"
                            (click)="editImporte(linea)">
                        {{
                            linea.importeFinalMicros
                                | microsToEuros
                                | currency:'EUR':'symbol':'1.2-2'
                        }}
                    </button>

                    @if (linea.importeManualMicros !== null && canModifyAmounts()) {
                    <button class="sale__inline-action"
                            type="button"
                            matTooltip="Quitar importe manual"
                            aria-label="Quitar importe manual"
                            (click)="clearImporteManual(linea, $event)">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </div>
                }
            </div>

            <div class="col-descuentos">
                @if (
                linea.esDevolucion &&
                linea.devolucionOrigen;
                as origen
                ) {
                <span class="sale__discount-value"
                      matTooltip="Descuento de la venta original">
                    @if (origen.regalo) {
                    Regalo
                    }
                    @else if (origen.importeDescuentoMicros > 0) {
                    {{
                        origen.importeDescuentoMicros
                            | microsToEuros
                            | currency:'EUR':'symbol':'1.2-2'
                    }}
                    }
                    @else {
                    {{ origen.descuentoBps | bpsToPercent }} %
                    }
                </span>
                }
                @else if (
                linea.esReserva &&
                linea.reservaOrigen;
                as origenReserva
                ) {
                <span class="sale__discount-value"
                      matTooltip="Descuento histórico de la reserva">
                    @if (linea.importeDescuentoReservaMicros > 0) {
                    {{
                        linea.importeDescuentoReservaMicros
                            | microsToEuros
                            | currency:'EUR':'symbol':'1.2-2'
                    }}
                    }
                    @else {
                    {{ origenReserva.descuentoBps | bpsToPercent }} %
                    }
                </span>
                }
                @else {
                @if (linea.tieneDescuentoPromocional) {
                <div class="sale__editable-cell">
                    <span class="sale__discount-value"
                          matTooltip="Descuento promocional del artículo">
                        {{
                            linea.importeDescuentoPromocionalMicros
                                | microsToEuros
                                | currency:'EUR':'symbol':'1.2-2'
                        }}
                    </span>

                    @if (canModifyAmounts()) {
                    <button class="sale__inline-action"
                            type="button"
                            matTooltip="Quitar descuento promocional"
                            aria-label="Quitar descuento promocional"
                            (click)="clearDescuentoPromocional(linea, $event)">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </div>
                }
                @else if (isEditing(linea.idTemporal, 'descuento-importe')) {
                <div class="sale__inline-editor">
                    <input #editableInput
                           class="sale__inline-input"
                           type="number"
                           inputmode="decimal"
                           min="0"
                           step="0.01"
                           aria-label="Descuento directo"
                           [attr.data-linea-id-temporal]="linea.idTemporal"
                           data-field="descuento-importe"
                           [value]="
                                linea.descuentoDirectoMicros === null
                                    ? ''
                                    : (linea.descuentoDirectoMicros | microsToEuros)
                            "
                           (keydown.enter)="commitDescuentoDirecto(linea, $event, true)"
                           (blur)="commitDescuentoDirecto(linea, $event, false)">
                    <span>€</span>
                </div>
                }
                @else if (linea.descuentoDirectoMicros !== null) {
                <div class="sale__editable-cell">
                    <button class="sale__editable-value"
                            type="button"
                            [disabled]="!canModifyAmounts()"
                            matTooltip="Modificar descuento directo"
                            (click)="editDescuentoDirecto(linea)">
                        {{
                            linea.descuentoDirectoMicros
                                | microsToEuros
                                | currency:'EUR':'symbol':'1.2-2'
                        }}
                    </button>

                    @if (canModifyAmounts()) {
                    <button class="sale__inline-action"
                            type="button"
                            matTooltip="Quitar descuento directo"
                            aria-label="Quitar descuento directo"
                            (click)="clearDescuentoDirecto(linea, $event)">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </div>
                }
                @else if (isEditing(linea.idTemporal, 'descuento-porcentaje')) {
                <div class="sale__inline-editor">
                    <input #editableInput
                           class="sale__inline-input"
                           type="number"
                           inputmode="decimal"
                           min="0"
                           max="100"
                           step="0.01"
                           aria-label="Descuento porcentual"
                           [attr.data-linea-id-temporal]="linea.idTemporal"
                           data-field="descuento-porcentaje"
                           [value]="linea.descuentoBps | bpsToPercent"
                           (keydown.enter)="commitDescuentoPorcentaje(linea, $event, true)"
                           (blur)="commitDescuentoPorcentaje(linea, $event, false)">
                    <span>%</span>
                </div>
                }
                @else {
                <div class="sale__editable-cell">
                    <button class="sale__editable-value"
                            type="button"
                            [matTooltip]="
                                linea.tieneDescuentoManual
                                    ? 'Descuento porcentual manual'
                                    : linea.descuentoClienteBps > 0
                                        ? 'Descuento del cliente'
                                        : 'Modificar descuento porcentual'
                            "
                            (click)="editDescuentoPorcentaje(linea)">
                        {{ linea.descuentoBps | bpsToPercent }} %
                    </button>

                    @if (linea.tieneDescuentoManual) {
                    <button class="sale__inline-action"
                            type="button"
                            [matTooltip]="
                                linea.descuentoClienteBps > 0
                                    ? 'Volver al descuento del cliente'
                                    : 'Quitar descuento porcentual manual'
                            "
                            [attr.aria-label]="
                                linea.descuentoClienteBps > 0
                                    ? 'Volver al descuento del cliente'
                                    : 'Quitar descuento porcentual manual'
                            "
                            (click)="clearDescuentoPorcentajeManual(linea, $event)">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                    }
                    @else if (linea.descuentoClienteBps > 0) {
                    <mat-icon class="sale__discount-origin"
                              matTooltip="Descuento del cliente"
                              aria-hidden="true">
                        person
                    </mat-icon>
                    }

                    @if (canModifyAmounts()) {
                    <button class="sale__inline-action"
                            type="button"
                            matTooltip="Introducir descuento en euros"
                            aria-label="Introducir descuento en euros"
                            (click)="editDescuentoDirecto(linea)">
                        <mat-icon>euro</mat-icon>
                    </button>
                    }
                </div>
                }
                }
            </div>

            <div class="col-stock">
                {{
                    linea.esDevolucion || linea.esReserva
                        ? '-'
                        : linea.stock
                }}
            </div>
        </div>
        }

        <div class="sale__line sale__line--input">
            <div class="col-localizador">
                <input #localizadorInput
                       class="sale__locator-input"
                       type="text"
                       autocomplete="off"
                       [disabled]="searching()"
                       [value]="localizador()"
                       (focus)="onLocalizadorFocus()"
                       (input)="onLocalizadorInput($event)"
                       (keydown)="onLocalizadorKeydown($event)">

                <button class="sale__direct-access"
                        type="button"
                        matTooltip="Abrir accesos directos"
                        (click)="openDirectAccess()">
                    <mat-icon>launch</mat-icon>
                </button>
            </div>

            <div class="col-descripcion">&nbsp;</div>
            <div class="col-marca">&nbsp;</div>
            <div class="col-cantidad">&nbsp;</div>
            <div class="col-pvp">&nbsp;</div>
            <div class="col-importe">&nbsp;</div>
            <div class="col-descuentos">&nbsp;</div>
            <div class="col-stock">&nbsp;</div>
        </div>
    </div>

    @if (ventasService.workspaceActivo(); as workspace) {
    @if (ventaView().cliente; as cliente) {
    <otpv-client-statistics [cliente]="cliente"
                            [expanded]="workspace.clienteEstadisticasExpanded"
                            (toggleEvent)="toggleClienteEstadisticas()" />
    }

    <aside class="sale__total"
           cdkDrag
           [cdkDragFreeDragPosition]="workspace.totalPosition"
           (cdkDragEnded)="onTotalDragEnded($event)">
        <button class="sale__amount"
                type="button"
                matTooltip="Abrir histórico de ventas"
                aria-label="Abrir histórico de ventas"
                (click)="openHistoricalSales()">
            {{
                ventaView().totalCents
                    | centsToEuros
                    | currency:'EUR':'symbol':'1.2-2'
            }}
        </button>

        <div class="sale__controls">
            <mat-icon class="sale__drag-handle"
                      cdkDragHandle
                      matTooltip="Mover">
                drag_indicator
            </mat-icon>

            <button mat-stroked-button
                    type="button"
                    [disabled]="ventaView().lineas.length === 0"
                    (click)="cancelVenta()">
                Cancelar
            </button>

            <button mat-flat-button
                    type="button"
                    [disabled]="ventaView().lineas.length === 0"
                    (click)="openFinalization()">
                Terminar
            </button>
        </div>
    </aside>
    }

    @if (historicalSalesOpen()) {
    <otpv-historical-sales (closeEvent)="closeHistoricalSales()" />
    }

    @if (searchOpen()) {
    <otpv-article-search [initialQuery]="searchInitialQuery()"
                         (selectEvent)="onSearchSelected($event)"
                         (closeEvent)="closeSearch()" />
    }

    @if (directAccessOpen()) {
    <otpv-direct-access-selector (selectEvent)="onDirectAccessSelected($event)"
                                 (closeEvent)="closeDirectAccess()" />
    }

    @if (variosEditorState(); as editorState) {
    <otpv-varios-editor [initialData]="editorState.data"
                        [ivaOptionsBps]="variosIvaOptionsBps()"
                        [title]="
            editorState.lineaIdTemporal === null
                ? 'Introducir Varios'
                : 'Editar Varios'
        "
                        (saveEvent)="onVariosSave($event)"
                        (cancelEvent)="closeVariosEditor()" />
    }

    @if (
    devolucionSelectorState();
    as selectorState
    ) {
    <otpv-return-selector [devolucion]="selectorState.devolucion"
                          [initialSelection]="selectorState.seleccionInicial"
                          (selectEvent)="onDevolucionSelected($event)"
                          (cancelEvent)="closeDevolucionSelector()" />
    }

    @if (finalizationOpen()) {
    <otpv-sale-finalization [totalCents]="ventaView().totalCents"
                            [lineas]="ventaView().lineas"
                            [tiposPago]="tiposPago()"
                            [reservaBlockedReason]="reservaBlockedReason()"
                            [ventaSaving]="ventaSaving()"
                            [reservaSaving]="reservaSaving()"
                            (finalizeEvent)="finalizeVenta($event)"
                            (reservaConTicketEvent)="createReservaConTicket()"
                            (reservaSinTicketEvent)="createReservaSinTicket()"
                            (cancelEvent)="closeFinalization()" />
    }
</section>