<section class="employee-selector"
         aria-labelledby="employee-selector-title">
    <div class="employee-selector__content">
        <h2 id="employee-selector-title">
            Seleccionar empleado
        </h2>

        <p>
            Selecciona quién atenderá esta venta.
        </p>

        <div class="employee-selector__employees">
            @for (
            empleado of empleados();
            track empleado.publicId
            ) {
            <button class="employee-selector__employee"
                    type="button"
                    [style.background-color]="empleado.color"
                    [style.color]="empleado.textColor"
                    (click)="select(empleado)">
                {{ empleado.nombre }}
            </button>
            }
        </div>
    </div>
</section>