<otpv-header selectedOption="compras"
             [appName]="appName()" />

<main class="purchases">
    <section class="purchases__panel">
        <header class="purchases__toolbar">
            <h1>
                COMPRAS
            </h1>
        </header>

        <otpv-purchases-tabs [activeSection]="activeSection()"
                             (selectSectionEvent)="selectSection($event)">
            @switch (activeSection()) {
            @case ('brands') {
            <otpv-marca-toolbar-actions />
            }
            @case ('suppliers') {
            <otpv-proveedor-toolbar-actions />
            }
            }
        </otpv-purchases-tabs>


        <div class="purchases__content">
            @switch (activeSection()) {
            @case ('orders') {
            <otpv-pedidos />
            }
            @case ('brands') {
            <otpv-marcas />
            }
            @case ('suppliers') {
            <otpv-proveedores />
            }
            }
        </div>
    </section>
</main>