<otpv-header selectedOption="almacen"
             [appName]="appName()" />

<main class="warehouse">
    <section class="warehouse__panel">
        <header class="warehouse__toolbar">
            <h1>
                ALMACÉN
            </h1>
        </header>

        <otpv-warehouse-tabs [activeSection]="activeSection()"
                             (selectSectionEvent)="selectSection($event)" />

        <div class="warehouse__content">
            @switch (activeSection()) {
            @case ('inventory') {
            <otpv-inventory />
            }
            @case ('expirations') {
            <otpv-caducidades />
            }
            @case ('printing') {
            <otpv-imprenta />
            }
            }
        </div>
    </section>
</main>